<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header text-center">
          <h2 class="m-0">SignUp Form</h2>
        </div>
        <div class="card-body">
          <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
            <!-- username -->
            <div class="form-group">
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>UserName</mat-label>
                <input type="text" matInput placeholder="Ex.jhondoe" formControlName="username">

                <mat-error *ngIf="getUsername.touched && getUsername.hasError('required')">
                  username is required field.
                </mat-error>
                <mat-error *ngIf="getUsername.dirty && getUsername.hasError('pattern')">
                  username only includes alphabets.
                </mat-error>
                <mat-error *ngIf="getUsername.dirty && getUsername.hasError('noSpaceErr')">
                  {{getUsername.errors?.['noSpaceErr']}}
                </mat-error>
                <mat-error *ngIf="getUsername.dirty && getUsername.hasError('minlength')">
                  username required minimun length is {{getUsername.errors?.['minlength'].requiredLength}}
                  and its actual length is {{getUsername.errors?.['minlength'].actualLength}}
                </mat-error>
                <mat-error *ngIf="getUsername.dirty && getUsername.hasError('maxlength')">
                  username required minimun length is {{getUsername.errors?.['maxlength'].requiredLength}}
                  and its actual length is {{getUsername.errors?.['maxlength'].actualLength}}
                </mat-error>

              </mat-form-field>
            </div>

            <!-- email -->

            <div class="form-group">
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Email</mat-label>
                <input type="text" matInput placeholder="Ex.jhondoe@gmail.com" formControlName="email">

                <mat-error *ngIf="getEmail.touched && getEmail.hasError('required')">
                  Email is required field.
                </mat-error>
                <mat-error *ngIf="getEmail.dirty && getEmail.hasError('pattern')">
                  Email includes letters , numbers , spec char @ , 4-5 letters before dots & 2-3 letters after dots
                </mat-error>
                <mat-error *ngIf="getEmail.dirty && getEmail.hasError('noSpaceErr')">
                  {{getEmail.errors?.['noSpaceErr']}}
                </mat-error>
                <mat-hint class="text-dark" *ngIf="getEmail.pending">
                  Loading....
                </mat-hint>
                <mat-error *ngIf="getEmail.dirty && getEmail.hasError('emailExistErr')">
                  {{getEmail.errors?.['emailExistErr']}}
                </mat-error> 
                <mat-hint class="text-success" *ngIf="getEmail.valid">
                  Email is available.
                </mat-hint>
              </mat-form-field>
            </div>

            <!-- emp Id -->

            <div class="form-group">
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>EmpId</mat-label>
                <input type="text" matInput placeholder="Ex.E123" formControlName="empId">

                <mat-error *ngIf="getEmpId.touched && getEmpId.hasError('required')">
                  Emp Id is required field.
                </mat-error>
                <mat-error *ngIf="getEmpId.dirty && getEmpId.hasError('EmpIdErr')">
                  <!-- Emp Id only includes 1 upperCase 3 numbers. -->
                   {{getEmpId.errors?.['EmpIdErr']}}
                </mat-error>
                <mat-error *ngIf="getEmpId.dirty && getEmpId.hasError('noSpaceErr')">
                  {{getEmpId.errors?.['noSpaceErr']}}
                </mat-error>
                <mat-error *ngIf="getEmpId.dirty && getEmpId.hasError('minlength')">
                  Emp Id required minimun length is {{getEmpId.errors?.['minlength'].requiredLength}}
                  and its actual length is {{getEmpId.errors?.['minlength'].actualLength}}
                </mat-error>
                <mat-error *ngIf="getEmpId.dirty && getEmpId.hasError('maxlength')">
                  Emp Id required minimun length is {{getEmpId.errors?.['maxlength'].requiredLength}}
                  and its actual length is {{getEmpId.errors?.['maxlength'].actualLength}}
                </mat-error>

              </mat-form-field>
            </div>

            <!-- gender -->

            <div class="form-group">
                <mat-label class="mb-3">Gender*</mat-label>
                <div class="form-group">
                  <mat-radio-group aria-label="Select a gender" color="primary" formControlName="gender">
                    <mat-radio-button name="Female" value="Female" class="mr-1" >Female</mat-radio-button>
                    <mat-radio-button name="Male" value="Male">Male</mat-radio-button>
                  </mat-radio-group>
                </div>
            </div>

            <!-- add Skill -->


            <div class="skillarr">
              <h3>Add Skills*</h3>
              <div class="row" formArrayName="skills" 
              *ngFor="let skill of skillsArr.controls ; let i = index">
                <div class="col-md-9">
                       <mat-form-field class="example-full-width w-100" appearance="fill">
                        <mat-label class="sr-only">Add skills</mat-label>
                        <input type="text" matInput [formControlName]="i"
                         placeholder="Ex.Angular 10" class="mb-2">
                       </mat-form-field>

                       <mat-error *ngIf="skill.touched && skill.hasError('required')">
                          Skills field is required
                       </mat-error>
                </div>
                <div class="col-md-3" *ngIf="i > 0">
                  <button type="button" class="btn btn-sm" mat-raised-button color="warn" 
                     (click)="skillsArr.removeAt(i)">
                    Remove
                  </button>
                </div>
              </div>
            </div>

              <div class="row">
                <div class="col">
                  <button type="button" class="btn btn-sm btn-outline-primary" 
                  *ngIf="skillsArr.length < 5 ; else noSkillsMore" [disabled]="skillsArr.invalid"
                  (click)="onAddSkill()">Add Skill</button>
                </div>

                <ng-template #noSkillsMore>
                    <span class="text-warning">
                      you can only add max 5 skills only..
                    </span>
                </ng-template>
              </div>

            <!-- current add -->

            <div class="row">
              <div class="col-md-6" formGroupName="currentAddress">
                <h3><strong>Current Address :</strong></h3>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select multiple formControlName="country">
                      <!-- <mat-select-trigger>
                        {{country.value?.[0] || ''}}
                        <span *ngIf="(country.value?.length || 0) > 1" class="example-additional-selection">
                          (+{{(country.value?.length || 0) - 1}} {{country.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger> -->
                      <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="currentAdd('country').touched && currentAdd('country').hasError('required')">
                      country field is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>State</mat-label>
                    <input type="text" formControlName="state"
                     matInput placeholder="Ex.Maharashtra">
    
                    <mat-error *ngIf="currentAdd('state').touched && currentAdd('state').hasError('required')">
                      state is required field.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" formControlName="city"
                     matInput placeholder="Ex.udgir">
    
                    <mat-error *ngIf="currentAdd('city').touched && currentAdd('city').hasError('required')">
                      city is required field.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>Zipcode</mat-label>
                    <input type="text" formControlName="zipcode"
                     matInput placeholder="Ex.413517">
    
                    <mat-error *ngIf="currentAdd('zipcode').touched && currentAdd('zipcode').hasError('required')">
                      zipcode is required field.
                    </mat-error>
                    <mat-error *ngIf="currentAdd('zipcode').dirty && currentAdd('zipcode').hasError('minlength')">
                      username required minimun length is {{currentAdd('zipcode').errors?.['minlength'].requiredLength}}
                      and its actual length is {{currentAdd('zipcode').errors?.['minlength'].actualLength}}
                    </mat-error>
                    <mat-error *ngIf="currentAdd('zipcode').dirty && currentAdd('zipcode').hasError('maxlength')">
                      username required minimun length is {{currentAdd('zipcode').errors?.['maxlength'].requiredLength}}
                      and its actual length is {{currentAdd('zipcode').errors?.['maxlength'].actualLength}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <!-- permanent address -->
              <div class="col-md-6" formGroupName="permanentAddress">
                <h3><strong>Permanent Address :</strong></h3>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>Country</mat-label>
                    <mat-select multiple formControlName="country">
                      <!-- <mat-select-trigger>
                        {{country.value?.[0] || ''}}
                        <span *ngIf="(country.value?.length || 0) > 1" class="example-additional-selection">
                          (+{{(country.value?.length || 0) - 1}} {{country.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                      </mat-select-trigger> -->
                      <mat-option *ngFor="let country of countryList" [value]="country">{{country}}</mat-option>
                    </mat-select>

                    <mat-error *ngIf="permanentAdd('country').touched && permanentAdd('country').hasError('required')">
                      country field is required.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>State</mat-label>
                    <input type="text" formControlName="state"
                     matInput placeholder="Ex.Maharashtra">
    
                    <mat-error *ngIf="permanentAdd('state').touched && permanentAdd('state').hasError('required')">
                      state is required field.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>City</mat-label>
                    <input type="text" formControlName="city"
                     matInput placeholder="Ex.udgir">
    
                    <mat-error *ngIf="permanentAdd('city').touched && permanentAdd('city').hasError('required')">
                      city is required field.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <mat-form-field class="example-full-width w-100" appearance="fill">
                    <mat-label>Zipcode</mat-label>
                    <input type="text" formControlName="zipcode"
                     matInput placeholder="Ex.413517">
    
                    <mat-error *ngIf="permanentAdd('zipcode').touched && permanentAdd('zipcode').hasError('required')">
                      zipcode is required field.
                    </mat-error>
                    <mat-error *ngIf="permanentAdd('zipcode').dirty && permanentAdd('zipcode').hasError('minlength')">
                      username required minimun length is {{permanentAdd('zipcode').errors?.['minlength'].requiredLength}}
                      and its actual length is {{permanentAdd('zipcode').errors?.['minlength'].actualLength}}
                    </mat-error>
                    <mat-error *ngIf="permanentAdd('zipcode').dirty && permanentAdd('zipcode').hasError('maxlength')">
                      username required minimun length is {{permanentAdd('zipcode').errors?.['maxlength'].requiredLength}}
                      and its actual length is {{permanentAdd('zipcode').errors?.['maxlength'].actualLength}}
                    </mat-error>
                  </mat-form-field>
                </div>
            </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <section class="example-section">
                  <mat-label>
                    <mat-checkbox color="primary" formControlName="isAddSame"
                    class="example-margin"></mat-checkbox>
                   <span class="ml-2"> <strong>Permanent Address and Current Address is Same..</strong> </span>
                  </mat-label>
                </section>
              </div>
            </div>

            <!-- password  -->

            <div class="form-group">
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Password</mat-label>
                <input  matInput placeholder="Ex.zaQ123!q" formControlName="password"
                [type]="hide?'text' : 'password'">

                <mat-icon #showPass matSuffix (click)="ontoggle()">
                    {{hide ? 'visibility' : 'visibility_off'}}
                </mat-icon>  
                <mat-error *ngIf="getPassword.touched && getPassword.hasError('required')">
                  password is required field.
                </mat-error>
                <mat-error *ngIf="getPassword.dirty && getPassword.hasError('pattern')">
                  password must include 1 upperCase , 1 lowercase , 1 spec char , and numbers.
                </mat-error>
              </mat-form-field>

            </div>

            <div class="form-group">
              <mat-form-field class="example-full-width w-100" appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input [type]="hide?'text' : 'password'"
                 matInput placeholder="Ex.zaQ123!q" formControlName="confirmpassword">
                <mat-icon #showConfirmPass matSuffix (click)="ontoggle()">
                  {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>  
                <mat-error *ngIf="getconfirmPassword.touched && getconfirmPassword.hasError('required')">
                  ConfirmPassword is required field.
                </mat-error>
                <mat-error *ngIf="getPassword.value !== getconfirmPassword.value && getconfirmPassword.dirty">
                  ConfirmPassword and Password must be same
                </mat-error>
              </mat-form-field>
            </div>
            {{signUpForm.getRawValue() | json}}

            <div class="form-group">
              <button class="btn btn-sm btn-block" mat-raised-button color="primary"
              [disabled]="getconfirmPassword.value !== getPassword.value || signUpForm.invalid">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>